body {
  padding-top: 70px;
  padding-bottom: 70px;
}

#main-modal {
  text-align: center;
}

#cart-total {
  color: white;
  font-size: 14px;
}

#cart-icon {
  width: 25px;
  margin-left: .4em;
}

.card {
  box-shadow:hsl(0, 0%, 80%) 0 0 16px;
}

.product-card {
  width:360px;
  height: 320px;
}

.product-card:hover {
  transform: scale(1.05);
  transition: transform .4s;
  z-index: 1
}

/* hover sobre elemento padre */
.product-card:hover .update-btn {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.product-img {
  height:200px;
  width: 100%;
}

.small-image {
  width: 50px;
}

.arrow {
  width: 14px;
  cursor: pointer;
  transition: 0.1s;
}

.down {
  margin-top: -2.5em;
}
